logs
project/project
project/target
project/boot
target
tmp
assets/chartReport.txt
.history
dist
.ensime
.ensime_lucene/
.idea/
.idea_modules/
.DS_Store
*.swp
*.swo
*.pyc
*.iml
xcuserdata/
bin/tmp-desktop.styl
lui-current.js
lui-desktop-current.js
tags
/modules/qatool/src/css/form-fields-compiled.css
/modules/qatool/src/css/main-compiled.css
/modules/qatool/src/css/metric-audit-compiled.css
/modules/qatool/node_modules
/modules/qatool/bundle.js

# temp files
.~*
*~
*.orig

# eclipse
.scala_dependencies
.buildpath
.cache
.target
bin/
.classpath
.project
.settings/
